# Pandas: Working with Data Frames - summarizing with groupby

In [1]:
import numpy as np              #standard imports
import scipy as sc
import pandas as pd
import matplotlib as plt
%matplotlib inline

## Read the Hall of Fame dataset from the Baseball-Databank

In [2]:
hall = pd.read_csv("../../baseballdatabank/core/HallOfFame.csv")

## List the first 5 rows of the hall Data Frame

In [3]:
hall.head()

,playerID,yearid,votedBy,ballots,needed,votes,inducted,category,needed_note
0,cobbty01,1936,BBWAA,226.0,170.0,222.0,Y,Player,NaN
1,ruthba01,1936,BBWAA,226.0,170.0,215.0,Y,Player,NaN
2,wagneho01,1936,BBWAA,226.0,170.0,215.0,Y,Player,NaN
3,mathech01,1936,BBWAA,226.0,170.0,205.0,Y,Player,NaN
4,johnswa01,1936,BBWAA,226.0,170.0,189.0,Y,Player,NaN

## Show the column names of the hall Data Frame

In [4]:
hall.columns

Index(['playerID', 'yearid', 'votedBy', 'ballots', 'needed', 'votes',
       'inducted', 'category', 'needed_note'],
      dtype='object')

## List the number of records for each category

In [5]:
hall.groupby('category').count()

,playerID,yearid,votedBy,ballots,needed,votes,inducted,needed_note
category,,,,,,,,
Manager,74,74,74,51,51,51,74,0
Pioneer/Executive,39,39,39,7,7,7,39,0
Player,3997,3997,3997,3869,3712,3869,3997,157
Umpire,10,10,10,0,0,0,10,0

## List the votedBy counts

In [6]:
hall.groupby('votedBy').count()

,playerID,yearid,ballots,needed,votes,inducted,category,needed_note
votedBy,,,,,,,,
BBWAA,3689,3689,3689,3689,3689,3689,3689,0
Centennial,6,6,0,0,0,6,6,0
Final Ballot,21,21,21,21,21,21,21,0
Negro League,26,26,0,0,0,26,26,0
Nominating Vote,76,76,76,0,76,76,76,76
Old Timers,30,30,0,0,0,30,30,0
Run Off,81,81,81,0,81,81,81,81
Special Election,2,2,0,0,0,2,2,0
Veterans,189,189,60,60,60,189,189,0

## Two-level groupby

In [7]:
hall.groupby(('category','votedBy')).count()

                                    playerID  yearid  ballots  needed  votes  \
category          votedBy
Manager           BBWAA                   51      51       51      51     51
                  Centennial               1       1        0       0      0
                  Old Timers               1       1        0       0      0
                  Veterans                21      21        0       0      0
Pioneer/Executive BBWAA                    7       7        7       7      7
                  Centennial               5       5        0       0      0
                  Negro League             5       5        0       0      0
                  Old Timers               4       4        0       0      0
                  Veterans                18      18        0       0      0
Player            BBWAA                 3631    3631     3631    3631   3631
                  Final Ballot            21      21       21      21     21
                  Negro League            21      21        0       0      0
                  Nominating Vote         76      76       76       0     76
                  Old Timers              25      25        0       0      0
                  Run Off                 81      81       81       0     81
                  Special Election         2       2        0       0      0
                  Veterans               140     140       60      60     60
Umpire            Veterans                10      10        0       0      0

                                    inducted  needed_note
category          votedBy
Manager           BBWAA                   51            0
                  Centennial               1            0
                  Old Timers               1            0
                  Veterans                21            0
Pioneer/Executive BBWAA                    7            0
                  Centennial               5            0
                  Negro League             5            0
                  Old Timers               4            0
                  Veterans                18            0
Player            BBWAA                 3631            0
                  Final Ballot            21            0
                  Negro League            21            0
                  Nominating Vote         76           76
                  Old Timers              25            0
                  Run Off                 81           81
                  Special Election         2            0
                  Veterans               140            0
Umpire            Veterans                10            0

In [8]:
hall.groupby(('votedBy','category')).count()

                                    playerID  yearid  ballots  needed  votes  \
votedBy          category
BBWAA            Manager                  51      51       51      51     51
                 Pioneer/Executive         7       7        7       7      7
                 Player                 3631    3631     3631    3631   3631
Centennial       Manager                   1       1        0       0      0
                 Pioneer/Executive         5       5        0       0      0
Final Ballot     Player                   21      21       21      21     21
Negro League     Pioneer/Executive         5       5        0       0      0
                 Player                   21      21        0       0      0
Nominating Vote  Player                   76      76       76       0     76
Old Timers       Manager                   1       1        0       0      0
                 Pioneer/Executive         4       4        0       0      0
                 Player                   25      25        0       0      0
Run Off          Player                   81      81       81       0     81
Special Election Player                    2       2        0       0      0
Veterans         Manager                  21      21        0       0      0
                 Pioneer/Executive        18      18        0       0      0
                 Player                  140     140       60      60     60
                 Umpire                   10      10        0       0      0

                                    inducted  needed_note
votedBy          category
BBWAA            Manager                  51            0
                 Pioneer/Executive         7            0
                 Player                 3631            0
Centennial       Manager                   1            0
                 Pioneer/Executive         5            0
Final Ballot     Player                   21            0
Negro League     Pioneer/Executive         5            0
                 Player                   21            0
Nominating Vote  Player                   76           76
Old Timers       Manager                   1            0
                 Pioneer/Executive         4            0
                 Player                   25            0
Run Off          Player                   81           81
Special Election Player                    2            0
Veterans         Manager                  21            0
                 Pioneer/Executive        18            0
                 Player                  140            0
                 Umpire                   10            0

## Groupby with selection - groupby over a subset

In [9]:
hall[hall.votedBy=='Veterans'].groupby('category').count()

,playerID,yearid,votedBy,ballots,needed,votes,inducted,needed_note
category,,,,,,,,
Manager,21,21,21,0,0,0,21,0
Pioneer/Executive,18,18,18,0,0,0,18,0
Player,140,140,140,60,60,60,140,0
Umpire,10,10,10,0,0,0,10,0

Note that there is no indication that the above list is only 'Veterans'.  We can use a two-level groupby in this case:

In [10]:
hall[hall.votedBy=='Veterans'].groupby(('votedBy','category')).count()

                            playerID  yearid  ballots  needed  votes  \
votedBy  category
Veterans Manager                  21      21        0       0      0
         Pioneer/Executive        18      18        0       0      0
         Player                  140     140       60      60     60
         Umpire                   10      10        0       0      0

                            inducted  needed_note
votedBy  category
Veterans Manager                  21            0
         Pioneer/Executive        18            0
         Player                  140            0
         Umpire                   10            0

## Read the master Data Frame and list the column names

In [14]:
master = pd.read_csv("../../baseballdatabank/core/Master.csv")
master.columns
master

,playerID,birthYear,birthMonth,birthDay,birthCountry,birthState,birthCity,deathYear,deathMonth,deathDay,...,nameLast,nameGiven,weight,height,bats,throws,debut,finalGame,retroID,bbrefID
0,aardsda01,1981.0,12.0,27.0,USA,CO,Denver,NaN,NaN,NaN,...,Aardsma,David Allan,215.0,75.0,R,R,2004-04-06,2015-08-23,aardd001,aardsda01
1,aaronha01,1934.0,2.0,5.0,USA,AL,Mobile,NaN,NaN,NaN,...,Aaron,Henry Louis,180.0,72.0,R,R,1954-04-13,1976-10-03,aaroh101,aaronha01
2,aaronto01,1939.0,8.0,5.0,USA,AL,Mobile,1984.0,8.0,16.0,...,Aaron,Tommie Lee,190.0,75.0,R,R,1962-04-10,1971-09-26,aarot101,aaronto01
3,aasedo01,1954.0,9.0,8.0,USA,CA,Orange,NaN,NaN,NaN,...,Aase,Donald William,190.0,75.0,R,R,1977-07-26,1990-10-03,aased001,aasedo01
4,abadan01,1972.0,8.0,25.0,USA,FL,Palm Beach,NaN,NaN,NaN,...,Abad,Fausto Andres,184.0,73.0,L,L,2001-09-10,2006-04-13,abada001,abadan01
5,abadfe01,1985.0,12.0,17.0,D.R.,La Romana,La Romana,NaN,NaN,NaN,...,Abad,Fernando Antonio,220.0,73.0,L,L,2010-07-28,2016-09-25,abadf001,abadfe01
6,abadijo01,1850.0,11.0,4.0,USA,PA,Philadelphia,1905.0,5.0,17.0,...,Abadie,John W.,192.0,72.0,R,R,1875-04-26,1875-06-10,abadj101,abadijo01
7,abbated01,1877.0,4.0,15.0,USA,PA,Latrobe,1957.0,1.0,6.0,...,Abbaticchio,Edward James,170.0,71.0,R,R,1897-09-04,1910-09-15,abbae101,abbated01
8,abbeybe01,1869.0,11.0,11.0,USA,VT,Essex,1962.0,6.0,11.0,...,Abbey,Bert Wood,175.0,71.0,R,R,1892-06-14,1896-09-23,abbeb101,abbeybe01
9,abbeych01,1866.0,10.0,14.0,USA,NE,Falls City,1926.0,4.0,27.0,...,Abbey,Charles S.,169.0,68.0,L,L,1893-08-16,1897-08-19,abbec101,abbeych01
10,abbotda01,1862.0,3.0,16.0,USA,OH,Portage,1930.0,2.0,13.0,...,Abbott,Leander Franklin,190.0,71.0,R,R,1890-04-19,1890-05-23,abbod101,abbotda01
11,abbotfr01,1874.0,10.0,22.0,USA,OH,Versailles,1935.0,6.0,11.0,...,Abbott,Harry Frederick,180.0,70.0,R,R,1903-04-25,1905-09-20,abbof101,abbotfr01
12,abbotgl01,1951.0,2.0,16.0,USA,AR,Little Rock,NaN,NaN,NaN,...,Abbott,William Glenn,200.0,78.0,R,R,1973-07-29,1984-08-08,abbog001,abbotgl01
13,abbotje01,1972.0,8.0,17.0,USA,GA,Atlanta,NaN,NaN,NaN,...,Abbott,Jeffrey William,190.0,74.0,R,L,1997-06-10,2001-09-29,abboj002,abbotje01
14,abbotji01,1967.0,9.0,19.0,USA,MI,Flint,NaN,NaN,NaN,...,Abbott,James Anthony,200.0,75.0,L,L,1989-04-08,1999-07-21,abboj001,abbotji01
15,abbotku01,1969.0,6.0,2.0,USA,OH,Zanesville,NaN,NaN,NaN,...,Abbott,Kurt Thomas,180.0,71.0,R,R,1993-09-07,2001-04-13,abbok002,abbotku01
16,abbotky01,1968.0,2.0,18.0,USA,MA,Newburyport,NaN,NaN,NaN,...,Abbott,Lawrence Kyle,200.0,76.0,L,L,1991-09-10,1996-08-24,abbok001,abbotky01
17,abbotod01,1888.0,9.0,5.0,USA,PA,New Eagle,1933.0,4.0,13.0,...,Abbott,Ody Cleon,180.0,74.0,R,R,1910-09-10,1910-10-15,abboo101,abbotod01
18,abbotpa01,1967.0,9.0,15.0,USA,CA,Van Nuys,NaN,NaN,NaN,...,Abbott,Paul David,185.0,75.0,R,R,1990-08-21,2004-08-07,abbop001,abbotpa01
19,aberal01,1927.0,7.0,31.0,USA,OH,Cleveland,1993.0,5.0,20.0,...,Aber,Albert Julius,195.0,74.0,L,L,1950-09-15,1957-09-11,abera101,aberal01
20,abercda01,1850.0,1.0,2.0,USA,OK,Fort Towson,1939.0,11.0,11.0,...,Abercrombie,Francis Patterson,NaN,NaN,NaN,NaN,1871-10-21,1871-10-21,aberd101,abercda01
21,abercre01,1980.0,7.0,15.0,USA,GA,Columbus,NaN,NaN,NaN,...,Abercrombie,Reginald Damascus,215.0,75.0,R,R,2006-04-04,2008-09-28,aberr001,abercre01
22,abernbi01,1929.0,1.0,30.0,USA,CA,Torrance,2006.0,2.0,19.0,...,Abernathie,William Edward,190.0,70.0,R,R,1952-09-27,1952-09-27,aberb101,abernbi01
23,abernbr01,1977.0,9.0,23.0,USA,GA,Atlanta,NaN,NaN,NaN,...,Abernathy,Michael Brent,185.0,73.0,R,R,2001-06-25,2005-09-29,aberb001,abernbr01
24,abernte01,1921.0,10.0,30.0,USA,NC,Bynum,2001.0,11.0,16.0,...,Abernathy,Talmadge Lafayette,210.0,74.0,R,L,1942-09-19,1944-04-29,abert102,abernte01
25,abernte02,1933.0,3.0,6.0,USA,NC,Stanley,2004.0,12.0,16.0,...,Abernathy,Theodore Wade,215.0,76.0,R,R,1955-04-13,1972-09-30,abert101,abernte02
26,abernwo01,1915.0,2.0,1.0,USA,NC,Forest City,1994.0,12.0,5.0,...,Abernathy,Virgil Woodrow,170.0,72.0,L,L,1946-07-28,1947-04-17,aberw101,abernwo01
27,aberscl01,1921.0,8.0,28.0,USA,IL,Chicago,1973.0,6.0,23.0,...,Aberson,Clifford Alexander,200.0,72.0,R,R,1947-07-18,1949-05-09,aberc101,aberscl01
28,ablesha01,1883.0,10.0,4.0,USA,TX,Terrell,1951.0,2.0,8.0,...,Ables,Harry Terrell,200.0,74.0,R,L,1905-09-04,1911-05-05,ableh101,ablesha01
29,abnersh01,1966.0,6.0,17.0,USA,OH,Hamilton,NaN,NaN,NaN,...,Abner,Shawn Wesley,190.0,73.0,R,R,1987-09-08,1992-10-03,abnes001,abnersh01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19073,zimmejo02,1986.0,5.0,23.0,USA,WI,Auburndale,NaN,NaN,NaN,...,Zimmermann,Jordan M.,225.0,74.0,R,R,2009-04-20,2016-10-01,zimmj003,zimmejo02
19074,zimmero01,1913.0,9.0,13.0,USA,PA,Pine Grove,1991.0,11.0,22.0,...,Zimmerman,Roy Franklin,187.0,74.0,L,L,1945-08-27,1945-09-30,zimmr101,zimmero01
19075,zimmery01,1984.0,9.0,28.0,USA,NC,Washington,NaN,NaN,NaN,...,Zimmerman,Ryan Wallace,225.0,75.0,R,R,2005-09-01,2016-10-02,zimmr001,zimmery01
19076,zinkch01,1979.0,8.0,26.0,USA,CA,Carmichael,NaN,NaN,NaN,...,Zink,Charles Tadao,190.0,73.0,R,R,2008-08-12,2008-08-12,zinkc001,zinkch01
19077,zinkwa01,1898.0,11.0,21.0,USA,MA,Pittsfield,1964.0,6.0,12.0,...,Zink,Walter Noble,165.0,72.0,R,R,1921-07-06,1921-07-19,zinkw101,zinkwa01
19078,zinnfr01,1865.0,12.0,21.0,USA,PA,Phoenixville,1936.0,5.0,12.0,...,Zinn,Frank Patrick,150.0,68.0,NaN,NaN,1888-04-18,1888-05-03,zinnf101,zinnfr01
19079,zinngu01,1887.0,2.0,13.0,USA,WV,Holbrook,1949.0,10.0,6.0,...,Zinn,Guy,170.0,70.0,L,R,1911-09-11,1915-09-16,zinng101,zinngu01
19080,zinnji01,1895.0,1.0,21.0,USA,AR,Benton,1991.0,2.0,26.0,...,Zinn,James Edward,195.0,72.0,L,R,1919-09-04,1929-08-25,zinnj101,zinnji01
19081,zinsebi01,1918.0,1.0,6.0,USA,NY,Astoria,1993.0,2.0,16.0,...,Zinser,William Francis,185.0,73.0,R,R,1944-08-19,1944-08-26,zinsb101,zinsebi01
19082,zinteal01,1968.0,5.0,19.0,USA,TX,El Paso,NaN,NaN,NaN,...,Zinter,Alan Michael,200.0,74.0,B,R,2002-06-18,2004-10-03,zinta001,zinteal01
19083,zipfebu01,1938.0,11.0,18.0,USA,IL,Belleville,NaN,NaN,NaN,...,Zipfel,Marion Sylvester,200.0,75.0,L,R,1961-07-26,1962-09-30,zipfb101,zipfebu01
19084,ziskri01,1949.0,2.0,6.0,USA,NY,Brooklyn,NaN,NaN,NaN,...,Zisk,Richard Walter,200.0,73.0,R,R,1971-09-08,1983-09-21,ziskr101,ziskri01
19085,zitoba01,1978.0,5.0,13.0,USA,NV,Las Vegas,NaN,NaN,NaN,...,Zito,Barry William,205.0,74.0,L,L,2000-07-22,2015-09-30,zitob001,zitoba01
19086,zitzmbi01,1895.0,11.0,19.0,USA,NY,Long Island City,1985.0,5.0,29.0,...,Zitzmann,William Arthur,175.0,70.0,R,R,1919-04-27,1929-09-25,zitzb101,zitzmbi01
19087,zmiched01,1884.0,10.0,1.0,USA,OH,Cleveland,1950.0,8.0,20.0,...,Zmich,Edward Albert,180.0,72.0,L,L,1910-07-23,1911-06-01,zmice101,zmiched01
19088,zobribe01,1981.0,5.0,26.0,USA,IL,Eureka,NaN,NaN,NaN,...,Zobrist,Benjamin Thomas,210.0,75.0,B,R,2006-08-01,2016-10-02,zobrb001,zobribe01
19089,zoccope01,1977.0,2.0,6.0,USA,NY,Bronx,NaN,NaN,NaN,...,Zoccolillo,Peter Jude,200.0,74.0,L,R,2003-09-05,2003-09-28,zoccp001,zoccope01
19090,zoldasa01,1918.0,12.0,8.0,USA,NY,Brooklyn,1966.0,8.0,25.0,...,Zoldak,Samuel Walter,185.0,71.0,L,L,1944-05-13,1952-08-26,zolds101,zoldasa01
19091,zoskyed01,1968.0,2.0,10.0,USA,CA,Whittier,NaN,NaN,NaN,...,Zosky,Edward James,175.0,72.0,R,R,1991-09-02,2000-10-01,zoske001,zoskyed01
19092,zuberbi01,1913.0,3.0,26.0,USA,IA,Middle Amana,1982.0,11.0,2.0,...,Zuber,William Henry,195.0,74.0,R,R,1936-09-16,1947-09-23,zubeb101,zuberbi01
19093,zuberjo01,1969.0,12.0,10.0,USA,CA,Encino,NaN,NaN,NaN,...,Zuber,Jon Edward,190.0,73.0,L,L,1996-04-19,1998-09-27,zubej001,zuberjo01
19094,zuletju01,1975.0,3.0,28.0,Panama,Panama,Panama,NaN,NaN,NaN,...,Zuleta,Julio Ernesto,230.0,78.0,R,R,2000-04-06,2001-06-25,zulej001,zuletju01
19095,zumayjo01,1984.0,11.0,9.0,USA,CA,Chula Vista,NaN,NaN,NaN,...,Zumaya,Joel Martin,215.0,75.0,R,R,2006-04-03,2010-06-28,zumaj001,zumayjo01
19096,zuninmi01,1991.0,3.0,25.0,USA,FL,Cape Coral,NaN,NaN,NaN,...,Zunino,Michael Accorsi,220.0,74.0,R,R,2013-06-12,2016-10-02,zunim001,zuninmi01
19097,zupcibo01,1966.0,8.0,18.0,USA,PA,Pittsburgh,NaN,NaN,NaN,...,Zupcic,Robert,220.0,76.0,R,R,1991-09-07,1994-08-04,zupcb001,zupcibo01
19098,zupofr01,1939.0,8.0,29.0,USA,CA,San Francisco,2005.0,3.0,25.0,...,Zupo,Frank Joseph,182.0,71.0,L,R,1957-07-01,1961-05-09,zupof101,zupofr01
19099,zuvelpa01,1958.0,10.0,31.0,USA,CA,San Mateo,NaN,NaN,NaN,...,Zuvella,Paul,173.0,72.0,R,R,1982-09-04,1991-05-02,zuvep001,zuvelpa01
19100,zuverge01,1924.0,8.0,20.0,USA,MI,Holland,2014.0,9.0,8.0,...,Zuverink,George,195.0,76.0,R,R,1951-04-21,1959-06-15,zuveg101,zuverge01
19101,zwilldu01,1888.0,11.0,2.0,USA,MO,St. Louis,1978.0,3.0,27.0,...,Zwilling,Edward Harrison,160.0,66.0,L,L,1910-08-14,1916-07-12,zwild101,zwilldu01
19102,zychto01,1990.0,8.0,7.0,USA,IL,Monee,NaN,NaN,NaN,...,Zych,Anthony Aaron,190.0,75.0,R,R,2015-09-04,2016-08-24,zycht001,zychto01

## Exercise: produce a list showing the counts of hall of fame inductees by year

In [48]:
hall.groupby(('yearid','inducted')).count()
# or
hall[['yearid','inducted','playerID']][hall.inducted=='Y'].groupby('yearid').count()
#or

        inducted  playerID
yearid
1936           5         5
1937           8         8
1938           3         3
1939          10        10
1942           1         1
1944           1         1
1945          10        10
1946          11        11
1947           4         4
1948           2         2
1949           3         3
1951           2         2
1952           2         2
1953           8         8
1954           3         3
1955           6         6
1956           2         2
1957           2         2
1959           1         1
1961           2         2
1962           4         4
1963           4         4
1964           7         7
1965           1         1
1966           2         2
1967           3         3
1968           3         3
1969           4         4
1970           4         4
1971           8         8
...          ...       ...
1987           3         3
1988           1         1
1989           4         4
1990           2         2
1991           5         5
1992           4         4
1993           1         1
1994           3         3
1995           5         5
1996           4         4
1997           4         4
1998           5         5
1999           7         7
2000           5         5
2001           4         4
2002           1         1
2003           2         2
2004           2         2
2005           2         2
2006          18        18
2007           2         2
2008           6         6
2009           3         3
2010           3         3
2011           3         3
2012           2         2
2013           3         3
2014           6         6
2015           4         4
2016           2         2

[75 rows x 2 columns]

## Exercise: produce a list showing the counts of living hall of fame inductees by year

In [50]:
hall[(hall.inducted=='Y')]
master[(master.deathYear.isnull())]
list=pd.merge(hall[(hall.inducted=='Y')],master[(master.deathYear.isnull())],how='inner')
list[['playerID','yearid']]
list.groupby(('yearid')).count()

,playerID,votedBy,ballots,needed,votes,inducted,category,needed_note,birthYear,birthMonth,...,nameLast,nameGiven,weight,height,bats,throws,debut,finalGame,retroID,bbrefID
yearid,,,,,,,,,,,,,,,,,,,,,
1972,1,1,1,1,1,1,1,0,1,1,...,1,1,1,1,1,1,1,1,1,1
1974,1,1,1,1,1,1,1,0,1,1,...,1,1,1,1,1,1,1,1,1,1
1979,1,1,1,1,1,1,1,0,1,1,...,1,1,1,1,1,1,1,1,1,1
1980,1,1,1,1,1,1,1,0,1,1,...,1,1,1,1,1,1,1,1,1,1
1981,1,1,1,1,1,1,1,0,1,1,...,1,1,1,1,1,1,1,1,1,1
1982,2,2,2,2,2,2,2,0,2,2,...,2,2,2,2,2,2,2,2,2,2
1983,2,2,2,2,2,2,2,0,2,2,...,2,2,2,2,2,2,2,2,2,2
1984,1,1,1,1,1,1,1,0,1,1,...,1,1,1,1,1,1,1,1,1,1
1985,1,1,1,1,1,1,1,0,1,1,...,1,1,1,1,1,1,1,1,1,1
1986,2,2,1,1,1,2,2,0,2,2,...,2,2,2,2,2,2,2,2,2,2
1987,1,1,1,1,1,1,1,0,1,1,...,1,1,1,1,1,1,1,1,1,1
1989,3,3,2,2,2,3,3,0,3,3,...,3,3,3,3,3,3,3,3,3,3
1990,2,2,2,2,2,2,2,0,2,2,...,2,2,2,2,2,2,2,2,2,2
1991,3,3,3,3,3,3,3,0,3,3,...,3,3,3,3,3,3,3,3,3,3
1992,2,2,2,2,2,2,2,0,2,2,...,2,2,2,2,2,2,2,2,2,2
1993,1,1,1,1,1,1,1,0,1,1,...,1,1,1,1,1,1,1,1,1,1
1994,1,1,1,1,1,1,1,0,1,1,...,1,1,1,1,1,1,1,1,1,1
1995,1,1,1,1,1,1,1,0,1,1,...,1,1,1,1,1,1,1,1,1,1
1996,1,1,0,0,0,1,1,0,1,1,...,1,1,1,1,1,1,1,1,1,1
1997,2,2,1,1,1,2,2,0,2,2,...,2,2,2,2,2,2,2,2,2,2
1998,1,1,1,1,1,1,1,0,1,1,...,1,1,1,1,1,1,1,1,1,1
1999,4,4,3,3,3,4,4,0,4,4,...,4,4,4,4,4,4,4,4,4,4
2000,2,2,2,2,2,2,2,0,2,2,...,2,2,2,2,2,2,2,2,2,2
2001,2,2,1,1,1,2,2,0,2,2,...,2,2,2,2,2,2,2,2,2,2
2002,1,1,1,1,1,1,1,0,1,1,...,1,1,1,1,1,1,1,1,1,1
2003,1,1,1,1,1,1,1,0,1,1,...,1,1,1,1,1,1,1,1,1,1
2004,2,2,2,2,2,2,2,0,2,2,...,2,2,2,2,2,2,2,2,2,2
2005,2,2,2,2,2,2,2,0,2,2,...,2,2,2,2,2,2,2,2,2,2
2006,1,1,1,1,1,1,1,0,1,1,...,1,1,1,1,1,1,1,1,1,1
2007,1,1,1,1,1,1,1,0,1,1,...,1,1,1,1,1,1,1,1,1,1
2008,1,1,1,1,1,1,1,0,1,1,...,1,1,1,1,1,1,1,1,1,1
2009,2,2,2,2,2,2,2,0,2,2,...,2,2,2,2,2,2,2,2,2,2
2010,3,3,1,1,1,3,3,0,3,3,...,3,3,3,3,2,2,2,2,3,3
2011,3,3,2,2,2,3,3,0,3,3,...,3,3,3,3,3,3,2,2,2,3
2012,1,1,1,1,1,1,1,0,1,1,...,1,1,1,1,1,1,1,1,1,1
2014,6,6,3,3,3,6,6,0,6,6,...,6,6,6,6,6,6,6,6,6,6
2015,4,4,4,4,4,4,4,0,4,4,...,4,4,4,4,4,4,4,4,4,4
2016,2,2,2,2,2,2,2,0,2,2,...,2,2,2,2,2,2,2,2,2,2

## Exercise: produce a list showing the number of times each player was voted on for induction into the hall of fame

In [61]:
#list[['playerID','votes','inducted']][list.inducted=='Y'].groupby(('playerID','votes')).sum()

hall[['playerID','yearid']].groupby(('playerID')).count()

           yearid
playerID
aaronha01       1
abbotji01       1
adamsba01      15
adamsbo03       1
adamssp01       2
ageeto01        1
aguilri01       1
akerja01        1
alexado01       1
alexape01       3
allenbe01       1
allendi01      14
allenjo02       1
alleyge01       1
allisdo01       1
alomaro01       2
alomasa02       1
aloufe01        1
alouje01        1
alouma01        1
aloumo01        1
alstowa01       1
altroni01       8
anderbr01       1
anderga01       1
andersp01       1
ansonca01       2
aparilu01       6
appieke01       1
applilu01       8
...           ...
wiseri01        1
wittbo01        1
wittmi01        1
wittwh01        1
womacto01       1
woodjo02        9
woodwi01        6
worreto01       1
wrighge01       2
wrighgl01      12
wrighha01       1
wyattwh01       1
wynnea01        4
wynnji01        1
yastrca01       1
yawketo99       1
yeagest01       1
yerkest02       1
yorkru01        2
youngcy01       3
younger01       1
youngpe01       1
youngro01      19
yountro01       1
zachato01       2
zachrpa01       1
zahnge01        1
zeileto01       1
zimmech01       1
ziskri01        1

[1239 rows x 1 columns]